<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <title>Testpage</title>
    </head>
    <body>
        <h1>Clean install</h1>
        {{ test_variable }}
        </br>
        <img src={% static "img/fom.jpeg" %} alt="Bild FOM Siegen">

        <div>
            {% if access_records %}
            <table>
                <thead>
                    <th>Webpage name</th>
                    <th>Access at</th>
                </thead>

                {% for ar in access_records %}
                <tr>
                    <td>{{ ar.name }}</td>
                    <td>{{ ar.date }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No records found!</p>
            {% endif %}
        </div>
    </body>
</html>