<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <title>RJHAPP</title>
    </head>
    <body>
        <h1>Testseite</h1>
        <p>Inhalt inhalt inhalt BLABLABLA inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt inhalt </p>
        <p>Testing</p>
        <p>even more Testing</p>
        <p>even more and more Testing</p>
    </body>
</html>
