<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <title>Users page</title>
    </head>
    <body>
        <h1>Users</h1>
        <div>
            {% if users %}
            <ol>
            {% for user in users %}
            <li></li>
            <ul>
                <li>First Name: {{ user.first_name }}</li>
                <li>Last Name: {{ user.last_name }}</li>
                <li>Email: {{ user.email }}</li>
            </ul>
            {% endfor %}
            </ol>
            {% else %}
            <p>No records found!</p>
            {% endif %}
        </div>
    </body>
</html>