<!doctype html>
{% load static %}
<html lang="de">
  <head>
      {% block html_head %} 
    {% endblock %}
  <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
  
    <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>RPG-Adventure</title>
  </head>

  <body>
  <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header navbar-brand">
      RPG-Adventure!!
    </div>
    <ul class="nav navbar-nav">
          {% if user.is_authenticated %}

            {% if request.resolver_match.view_name == 'worldmap' %}
              <li class="active"> <a href="#">Worldmap </a></li>
              <li>  <a href="{% url 'chars' %}">Zurück zur Charakterauswahl...</a></li>

            {% elif request.resolver_match.view_name == 'lobby' %}
              <li class="active"> <a href="#">Szene </a></li>
              <li>  <a href="{% url 'chars' %}">Zurück zur Charakterauswahl...</a></li>
              <li>  <a href="{% url 'worldmap' %}">Zurück zur Worldmap...</a></li>

            {% else %}
              <li class="{% if request.resolver_match.view_name == 'home' %}active{% endif %}"><a href="../home/">home</a></li>
              <li class="{% if request.resolver_match.view_name == 'user_profile' %}active{% endif %}"> <a href="../user_profile/">user-profile</a></li>
              <li class="{% if request.resolver_match.view_name == 'chars' %}active{% endif %}"> <a href="../chars/">chars</a></li>
              <li class="{% if request.resolver_match.view_name == 'logout' %}active{% endif %}"> <a href="../logout/">logout</a></li>
            {% endif %}
            

          {% else %}
          <li class="{% if request.resolver_match.view_name == 'home' %}active{% endif %}"><a href="../home/">home</a></li>
          <li class="{% if request.resolver_match.view_name == 'login' %}active{% endif %}"><a href="../login/">login</a></li>
          <li class="{% if request.resolver_match.view_name == 'signup' %}active{% endif %}"><a href="../signup/">signup</a></li>
          {% endif %} 
      
    </ul>
  </div>
</nav>

    <div class="container text-center">
    
    <!-- Start Counter Test -->
    <!--<input id="wmtc_submit" type="button" value="+">-->
    <a href="#"  alt="Click me!"><img src={% static "img/image_test.png" %} width="100" id="wmtc_submit"></a> <b id="wmtv_test_element"></b>
    <script>
    document.querySelector('#wmtc_submit').onclick = function (e) {
        wmtc_socket.send(JSON.stringify({'msg': 'add_one',}));
    };

    function send_wmtc_msg(e) { var wmtc_textarea = document.getElementById('wmtv_test_element'); }

    setInterval(function(){
        var wmtc_textarea = document.getElementById('wmtv_test_element');
        wmtc_textarea.scrollTop = wmtc_textarea.scrollHeight;
        wmtc_socket.send(JSON.stringify({'msg': 'alive',}));
    }, 100);

    var wmtc_loc = window.location;
    var wmtc_ws_prot = 'ws://';
    if (wmtc_loc.protocol == 'https:') { wmtc_ws_prot = 'wss://' }

    const wmtc_socket = new WebSocket(wmtc_ws_prot + window.location.host + '/ws/wmtc/');

    wmtc_socket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        document.querySelector('#wmtv_test_element').innerHTML = (data.msg)
    }
    </script>
    <!-- End Counter Test -->

    
    {% block content %} 
    {% endblock %}
    </div>

    <br />
    <br />
    <br />    
    <footer class="footer text-center">
      <div>
        <p><a href="../admin">{% now "Y" %}</a></p>
      </div>
    </footer>
  </body>
</html>
