<!doctype html>
{% load static %}
<html lang="de">
  <head>
    {% block html_head %} 
    {% endblock %}
  <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
  
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Implementierung Bootstrap 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

  <!-- Implementation CSS-Frameworks + JavaScript-->
  <!--<link rel="stylesheet" href="/static/css/rjh_rpg.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" type="text/css">-->
  <link rel="stylesheet" href="/static/css/rpgui.css" type="text/css">
  <script src="/static/css/rpgui.js"></script>

  <title>RPG-Adventure</title>
  </head>
  <style>
    body, #container
    {
      background: #222;
      padding-top:20px;
      padding-bottom:20px;
    }
    
    .inner
    {
      background: #444;
      padding-left:20px;
      padding-right:20px;
      min-width: 740px;
      max-width: 900px;
      margin: 0 auto;
    }
    </style>
    
    <body>
    <div class="rpgui-content" style="overflow-y:scroll;">
      <div id="container">
      <div id="main"></div>
        <div class="inner rpgui-container framed" style="position:relative">

          <table>
            <tr>
              <td>
          
  <div class="rpgui-container framed-golden" style="position:relative; display:inline-block">    
      <h1>RPG-Adventure!!</h1>

    <ul >
          {% if user.is_authenticated %}

              <li class="{% if request.resolver_match.view_name == 'home' %}active{% endif %}"><a href="../home/">home</a></li>
              <!--<li class="{% if request.resolver_match.view_name == 'user_profile' %}active{% endif %}"> <a href="../user_profile/">user-profile</a></li>-->
              <li class="{% if request.resolver_match.view_name == 'create_char' %}active{% endif %}"> <a href="../create_char/">create char</a></li>
              <li class="{% if request.resolver_match.view_name == 'chars' %}active{% endif %}"> <a href="../chars/">chars</a></li>
              <li class="{% if request.resolver_match.view_name == 'worldmap' %}active{% endif %}">  <a href="{% url 'worldmap' %}">worldmap</a></li>              
              <li class="{% if request.resolver_match.view_name == 'logout' %}active{% endif %}"> <a href="../logout/">logout</a></li>

            

          {% else %}
          <li class="{% if request.resolver_match.view_name == 'home' %}active{% endif %}"><a href="../home/">home</a></li>
          <li class="{% if request.resolver_match.view_name == 'login' %}active{% endif %}"><a href="../login/">login</a></li>
          <li class="{% if request.resolver_match.view_name == 'signup' %}active{% endif %}"><a href="../signup/">signup</a></li>
          {% endif %} 
      
    </ul>
  </div>

</td>
<td>
  
    
    
    {% block content %} 
    {% endblock %}
    
</td>
</tr>
</table>
</div>
</div>
</div>
<!--
    <footer class="footer text-center">
  <div>
    <p><a href="../admin">{% now "Y" %}</a></p>
    
    <a href="#"  alt="Click me!"><img src={% static "img/image_test.png" %} width="100" id="wmtc_submit"></a> <b id="wmtv_test_element"></b>
    <script>
    document.querySelector('#wmtc_submit').onclick = function (e) {
        wmtc_socket.send(JSON.stringify({'msg': 'add_one',}));
    };

    function send_wmtc_msg(e) { var wmtc_textarea = document.getElementById('wmtv_test_element'); }

    setInterval(function(){
        var wmtc_textarea = document.getElementById('wmtv_test_element');
        wmtc_textarea.scrollTop = wmtc_textarea.scrollHeight;
        wmtc_socket.send(JSON.stringify({'msg': 'alive',}));
    }, 250);

    var wmtc_loc = window.location;
    var wmtc_ws_prot = 'ws://';
    if (wmtc_loc.protocol == 'https:') { wmtc_ws_prot = 'wss://' }

    const wmtc_socket = new WebSocket(wmtc_ws_prot + window.location.host + '/ws/wmtc/');

    wmtc_socket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        document.querySelector('#wmtv_test_element').innerHTML = (data.msg)
    }
    </script>

  
  </div>
</footer>
-->

</div>
  </body>
</html>
