{% extends 'base.html' %}
{% block content %} 
{% if error %}
{{ error }}

<br />
<br />
{% endif %}


<div class="container text-center">
<table width="100%">
<tr>
<td>
    <br />
    {% if chars %} 
        <div class="rgui-container framed-golden">
            <table class="table table-bordered table-striped">
                
                {% for char in chars %}
                <tr>
                    <td>
                        <div class="rpgui-container framed-golden" style="position:relative; width:400px; display:inline-block">
                                                   
                        <p>
                        <b><a name="{{char_id}}"></a>{{ char.name }}</b><br />
                        Klasse:
                        <div style=" font-size: 30px;font-size: 4vw;">
                        {% if char.Klasse == "W" %} 🤺 {% endif %}
                        {% if char.Klasse == "M" %} 🧙 {% endif %}
                        {% if char.Klasse == "P" %} 👼 {% endif %} 
                        </div>
                        <br />
                        <br />
                        {% if char.xp_to_spend >= 1 %} 
                            Lebenspunkte: <a href="/xp-to-hp-{{char.id}}/" data-toggle="tooltip" data-placement="top" title="Lebenspunkte erhöhen (1 XP = {{ xp_hp }} HP) ">{{ char.hp }} ➕</a>  <br />
                            Angriffskraft: <a href="/xp-to-ap-{{char.id}}/"  data-toggle="tooltip" data-placement="top" title="Angriffskraft erhöhen (1 XP = {{ xp_ap }} AP)">{{ char.ap }} ➕</a> 
                        {% else %}
                            Lebenspunkte: {{ char.hp }}  <br />
                            Angriffskraft:  {{ char.ap }} 
                        {% endif %}

                        <br />
                        <br />
                        Verfügbare XP: {{ char.xp_to_spend }} <br />
                        </p>
                    </div>
                    </td>
                </tr>
                {% endfor %}
                
            </table>
        </div>
    {% else %}
        <h2>Du hast noch keine Charaktere...</h2>
        Lege <a href="../create_char/">hier</a> einen neuen an 👍
    {% endif %}
</td>
</tr>
</table>


</div>


{% endblock %}
