{% extends 'base.html' %}
{% block content %} 
{% if error %}
{{ error }}

<br />
<br />
{% endif %}

<h1>Chars...</h1>

{% if user.is_authenticated %}
<p>Hi, {{ user.get_username }}!<br />
hier sind deine Chars: </p>

        {% if chars %}
        <ul>
        {% for char in chars %}
            <li>Char Name: {{ char.name }} &#10145; Welt betreten! </li>
        {% endfor %}
        </ul>

        {% else %}
        <p>Keine Chars gefunden!</p>
        {% endif %}

<br />
<br />
<p>Hier kannst du einen neuen Char anlegen:<br /></p>


{% else %}
<p>Hi! Wenn du spielen willst, log dich bitte erst ein. </p>
{% endif %} 

{% endblock %}
