<!DOCTYPE html>
{% load static %}
<html lang="de">
  <head>
    {% block html_head %} {% endblock %}
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RPG-Adventure</title>
  </head>
  <body>
    {% block content %} {% endblock %}
    <div id="game_websocket_content_rx"></div>

    <!-- Start Game Websocket -->
    {{ game_id|json_script:"game_id" }}
    <script>
      setInterval(function () {
        game_socket.send(
          JSON.stringify({
            msg: "alive",
            game_id: game_id,
          })
        );
      }, 500);

      var game_ws_loc = window.location;
      var game_ws_prot = "ws://";
      if (game_ws_loc.protocol == "https:") {
        game_ws_prot = "wss://";
      }

      const game_id = JSON.parse(
        document.getElementById("game_id").textContent
      );
      const game_socket = new WebSocket(
        game_ws_prot + window.location.host + "/ws/game-" + game_id + "/"
      );

      game_socket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        //console.log(data)
        document.querySelector("#game_websocket_content_rx").innerHTML =
          data.game_websocket_content;
      };

      function set_game_to_finished() {
        game_socket.send(JSON.stringify({
            msg: 'set_game_to_finished',
            game_id: game_id,
        }));   
      }
    
    

    </script>
    <!-- End Game Websocket -->
  </body>
</html>
