<!DOCTYPE html>
{% load static %}
<html lang="de">
  <head>
    {% block html_head %} {% endblock %}
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS-Framework: RPGUI-->
    <link rel="stylesheet" href="/static/css/rpgui.css" type="text/css">
    <link rel="stylesheet" href="/static/css/rjh_rpg.css" type="text/css">
    <script src="/static/css/rpgui.js"></script>

    <title>RPG-Adventure</title>
  </head>

  <style>
    body
    {
      background: #222;
      background-image: url("/static/animation/{{enemy_dead_image}}") ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-top:20px;
      padding-bottom:20px;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }

    .char_font{
      font-size: 0.5vw !important;
    }
    </style>

  <body>
    {% block content %} 
      <div class="rpgui-content" id="game_websocket_content_rx" style="max-height:100vh;">

        <div class="rpgui-container framed-golden-scalable" style="position:relative; text-align: center; padding: 0; height: 6vh">
          <p style="font-size: large;">{{enemy_name}}</p>
        </div>

        <table border="1"  cellpadding="5vw" cellspacing="0"
               style="margin: auto;width: 85vw; overflow: hidden">

          <tr style="width:100%;height:50%">
            <td style="vertical-align: top;">
              <div class="rpgui-container framed-golden-scalable" style="position: relative; padding: 0;">
                <video loop="true" autoplay="autoplay" autoplay muted style="width:50vw">
                  <source src="../static/animation/{{enemy_image}}"  type="video/mp4" />
                </video>
              </div>
              
            </td>
            <td style="vertical-align: top;  text-align: center; width:40vw;"  rowspan="2">
              <!--<div class="rpgui-container framed-golden" id="game_log_textara" style="margin: 0 auto;width:100%; height:100%; font-size:xx-small; text-align: left;border:0vw;overflow-y: scroll; position: relative;">-->
                <div id="game_log_textara_scroll" class="rpgui-container framed-golden-scalable" style="position: relative;overflow-y: scroll; text-align: left;max-height:82vh;min-height: 70vh;">
                
                  <p id="game_log_textara" >
                  </p>
              </div>
            </td>
          </tr>
          <tr style=" width: 100%;">
            <td style="vertical-align: middle;text-align: center;">
              <div style="vertical-align: middle;text-align: center;margin: auto;">

              {% for user_char in game_user_char_list %} 

                      <div class="rpgui-container framed-golden-scalable"  style="position: relative;">
                        <p style="display: inline;">
                        {% if user_char.klasse == "W" %} 🤺 {% endif %}
                        {% if user_char.klasse == "M" %} 🧙 {% endif %}
                        {% if user_char.klasse == "P" %} 👼 {% endif %}  
                        </p>                                   
                        <p style="display:inline">
                        {{user_char.name}}
                        </p>
                        <p style="display:inline">
                        HP:{{user_char.hp}} /  AP:{{user_char.ap}} 
                       </p>
                        {% if user_char.user_char_id == request_user_id  %} 
                        <div style="position:relative;">
                          <button class="rpgui-button" type="submit" onclick="game_action('attack', {{ user_char.user_char_in_games_id }});" style=" padding: 0; display:inline;">
                            <p>Angriff</p>
                          </button>
            
                          <button class="rpgui-button" type="submit" onclick="game_action('ability', {{ user_char.user_char_in_games_id }});"  style="padding: 0;display:inline;">
                            <p>Fähigkeit</p>
                          </button>
                          
                          <button class="rpgui-button" type="submit" onclick="game_action('pass', {{ user_char.user_char_in_games_id }});"  style="padding: 0;display:inline"> 
                            <p>Aussetzen</p>
                          </button>
                        </div>  
                        
                        {% else %}

                          <div id="user_char_is_ready_{{ user_char.user_char_in_games_id }}"></div>
                        {% endif %}
                          </div>
              {% endfor %}     
              </div>     
            </td>     
          </tr> 
          <tr style="height: 20%; width: 100%">
            <td style="vertical-align: top;text-align: center;" colspan="2">
              <div class="rpgui-container framed-scalable" style="position: relative;  ">
                <input type="text" id="game_chat_msg_text" name="game_chat_msg_text" onkeypress="return game_chat_msg_key(event, {{ request_user_id }})"  style="width: 50%;"> 
                <button class="rpgui-button" type="submit" onclick="game_chat_msg_click({{ request_user_id }});" style="padding: 0; "> 
                  <p>Send</p>
                </button>
                <!-- Dev/Debug-Konsole
                <button type="submit" onclick="set_game_to_finished();" style="background:#ff0000; width: 40%;padding: 0;">
                  <p>Dev/Debug: Spiel beenden</p>
                </button>-->
              </div>
            </td>
          </tr>
        </table>

      </div>

      {{ game_id|json_script:"game_id" }}
      {{ request_user_id|json_script:"request_user_id" }}

      <script>
      last_counter_value_update = new Date();
      var last_game_log_content = "";
      var log_textara = document.querySelector('#game_log_textara');
      var log_textara_scroll = document.querySelector('#game_log_textara_scroll');

      var game_ws_loc = window.location;
      var game_ws_prot = "ws://";
      if (game_ws_loc.protocol == "https:") {
          game_ws_prot = "wss://";
      }
      
      const game_id = JSON.parse(
          document.getElementById("game_id").textContent
      );
      const request_user_id = JSON.parse(
          document.getElementById("request_user_id").textContent
      );      

      const game_socket = new WebSocket(
          game_ws_prot + window.location.host + "/ws/game-" + game_id + "/"
      );
      
      
      function set_game_to_finished() {
          game_socket.send(JSON.stringify({
              msg: 'set_game_to_finished',
              game_id: game_id,
          }));
      }
     
      function game_chat_msg_click(user_id) {
        var msg_to_gamelog_text = document.querySelector("#game_chat_msg_text").value
        game_socket.send(JSON.stringify({
            msg: 'game_chat_msg',
            msg_to_gamelog: msg_to_gamelog_text,
            user_id: user_id,
        }));
        document.querySelector("#game_chat_msg_text").value = '';
    }     

    function game_chat_msg_key(eventKeyPress, user_id) {
      if (eventKeyPress.keyCode == 13) {
        game_chat_msg_click(user_id)
      }
  }    

    function game_action(action_type, user_char_in_games_id) {
      game_socket.send(JSON.stringify({
          msg: 'save_game_action',
          game_id: game_id,
          action_type: action_type,
          user_char_in_games_id, user_char_in_games_id,
      }));
  }

  
    
      game_socket.onmessage = function(e) {
          const data = JSON.parse(e.data);
          console.log(data)
      
          if (data.game_msg_type == 'game_content_update') {
              document.querySelector("#game_websocket_content_rx").innerHTML =
                  data.game_websocket_content;
          }
      
          if (data.game_msg_type == 'game_log_update') {
            if (last_game_log_content != data.game_websocket_content) {
              document.querySelector("#game_log_textara").innerHTML =
                  data.game_websocket_content;
                  last_game_log_content = data.game_websocket_content;
                  log_textara_scroll.scrollTop = log_textara.scrollHeight;
                }
          }
      
          if (data.game_msg_type == 'game_counter_update') {
            // only useage of this is, to see if the connection is still alive  
            last_counter_value_update = new Date();
          }
      
          if (data.game_msg_type == 'game_endscreen') {
              document.querySelector("#game_websocket_content_rx").innerHTML =
                  data.game_websocket_content;
          }
      
          if (data.game_msg_type == 'game_init_content') {
              document.querySelector("#game_websocket_content_rx").innerHTML =
                  data.game_websocket_content;
          }
      };
      
      
      
      // Game-log
      
      var game_timer_helper = 0;
      
      function local_game_loop() {
          console.log(JSON.stringify(game_timer_helper))

          // on 0 
          if (game_timer_helper == 0) {
              game_socket.send(JSON.stringify({
                  msg: "alive",
                  request_user_id: request_user_id,                               
                }));
          }
      
          // on 1 
          if (game_timer_helper == 1) {


        }           

          // on 2 
          if (game_timer_helper == 2) {
            game_socket.send(JSON.stringify({
                msg: "alive",
                request_user_id: request_user_id,                 
              }));
        }
          // on 3
          if (game_timer_helper == 3) {


        }          
        // allways

    
            // check if connection is still alive
            timediff = new Date() - last_counter_value_update;
            if (timediff > 6000) {
              console.log("We lost connection since (sec): " + timediff/1000);  
              window.alert("Die Verbindung zum Server wurde getrennt. \nBitte lade die Seite neu. \nDas Spiel sollte dann weitergehen.");
              clearInterval(gameLoopInterval);
            }      

          // count to 4 and reset to 0 if it is reached, so that there are 4 "stages" (0..3)
          game_timer_helper = game_timer_helper + 1;
          if (game_timer_helper == 4) 
          {
            game_timer_helper = 0;
          }
      
      
      }
      
      var gameLoopInterval = setInterval(local_game_loop, 500);


    </script>
    <!-- End Game Websocket -->

    {% endblock %}
  </body>
</html>