
<div class="rpgui-container framed-golden" style=" width: 50%;font-size: 1.4vw; align-items: center;text-align: center;justify-content: center;margin-left: 25%; margin-right:25%">
  <p>💛 Danke fürs spielen...</p>
  <br />
  <br />
  <br />
  <br />
  <p>...zurück zur Worldmap:</p><div style="font-size: 4vw;"><a href="/worldmap/" style="color:#ffffff;">🗺️</a></div> <br />
  <br />
  <p>...zurück zur Charakterauswahl:</p> <div style="font-size: 4vw;"><a href="/chars/" style="color:#ffffff;">🤺 🧙 👼 </a></div> 
</div>
