{% extends 'base.html' %}
{% load static %}
{% block content %} 
{% if error %}
{{ error }}
{% endif %}
{% if user.is_authenticated %}


<small class="rpgui-container" style="left:15px; top:10px; position:absolute;">◀️ <a href="../">Zurück zur Weltkarte...</a></small>


<table>
    <tr>
        <td colspan="2" style="position: relative;">
            <div style=" margin: auto; text-align: center;" >
                <p style="font-size: x-large;">{{scene_name}}</p>
                <button type="submit" class="rpgui-button-collapsible" style="margin: auto;">Level-Beschreibung</button>
                <div class="collapsible_content" style="overflow-y: scroll;margin: auto; text-align: left;">
                    <p id="game-text"></p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">
            <div class="rpgui-container framed-lobbyimage" style="position:relative; background: url(../../static/img/intro_images/{{intro_image}}) no-repeat center;  background-size: 100%; height:450px;">
            <!--<img src="../static/img/intro_images/{{intro_image}}" style="width:100%">-->
            </div>
        </td>
        <td style="vertical-align: top; " rowspan="2">
            <div class="rpgui-container framed-golden-2" style="position:relative;">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td  style="vertical-align: top; ">
                            <h1>Aktuell im Chat</h1>
                            <hr class="golden">
                            <p id="chat-userlist"></p>
                            <hr class="golden">
    
        <textarea id="chat-text" rows="10" disabled></textarea>
        <br />
        <br />
        <input id="input" type="text" onkeypress="return send_msg(event)" > 
        <br />
        <br />
        <button type="submit" id="submit" class="rpgui-button"><p>Send</p></button>
    
        </td>
        </tr>
        </table>
    </div>

    </td>
</tr>
<tr>

<td style="vertical-align: top; ">

    <div class="rpgui-container framed-golden" style="position:relative;">
<div id="lobby_websocket_container" align="center">
                <div >
                    {% csrf_token %}
                    <div id="lobby_test_element" >
                    </div>
                </div>
        </div>

    </div>
    </td>

</tr>
</table>

{{ scene_id|json_script:"socket_scene_id" }}
{{ char_id|json_script:"socket_char_id" }}
<script id="socket_scene_id" type="application/json">"socket_scene_id"</script>
<script>
var wmtc_loc = window.location; var wmtc_ws_prot = 'ws://'; if (wmtc_loc.protocol == 'https:') { wmtc_ws_prot = 'wss://' }
const socket_scene_id = JSON.parse(document.getElementById('socket_scene_id').textContent);
const socket_char_id = JSON.parse(document.getElementById('socket_char_id').textContent);

const lobby_socket = new WebSocket(wmtc_ws_prot + window.location.host + '/ws/lobby-'+ socket_scene_id+'/');

setInterval(function(){ lobby_socket.send(JSON.stringify({'lobby_msg': 'heartbeat', 'char_id': socket_char_id, }));}, 500);

lobby_socket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    //console.log(data)
    document.querySelector('#lobby_test_element').innerHTML = (data.lobby_msg)
}

function take_the_slot(slot_id) {

    lobby_socket.send(JSON.stringify({
        'lobby_msg': 'take_the_slot',
        'slot_id': slot_id,
        'char_id': socket_char_id,
    }));   
}

function free_the_slot(slot_id) {

    lobby_socket.send(JSON.stringify({
        'lobby_msg': 'free_the_slot',
        'slot_id': slot_id,
        'char_id': socket_char_id,
    }));   
}


</script>
<!-- End LobbyWebsocket Test -->
    {{ char_name|json_script:"user_username" }}
    {{ scene_id|json_script:"room-name" }}
    {{ intro_text|json_script:"intro_text" }}
    <script id="room-name" type="application/json">"worldmap"</script>

    <script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
            }));
            messageInputDom.value = '';
        };

function send_msg(e) {
    
    if (e.keyCode == 13) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
            }));
            messageInputDom.value = '';
    }
}

var game_text = document.getElementById('game-text');
const intro_text = JSON.parse(document.getElementById('intro_text').textContent);
document.querySelector('#game-text').innerHTML = intro_text



var textarea = document.getElementById('chat-text');
setInterval(function(){
    chatSocket.send(JSON.stringify({'ul': 'heartbeat', }));
    textarea.scrollTop = textarea.scrollHeight;
}, 500);


        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        var loc = window.location;
        var wsStart = 'ws://';
        if (loc.protocol == 'https:') {
            wsStart = 'wss://'
        }

        const chatSocket = new WebSocket(
            wsStart +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );


        var undundefined_error_counter = 0;
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            //console.log(data);
            if (data.ul) {
                if (typeof(data.ul) != "undefined")
                {
                    document.querySelector('#chat-userlist').innerHTML = (data.ul)                    
                }
                else { undundefined_error_counter = undundefined_error_counter + 1; }
            } else {
                if (typeof(data.username) != "undefined")
                {
                    if (typeof(data.message) != "undefined")
                    {
                        document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n')
                    }
                    else { undundefined_error_counter = undundefined_error_counter + 1; }
                    
                }
                else { undundefined_error_counter = undundefined_error_counter + 1; }
            };

            if (undundefined_error_counter > 2) { window.alert("Durch den Vor- bzw. Zurückbutton deines Browsers kam es zu einem Fehler.\nWir leiten dich zurück zur Charakterauswahl - Ab da geht wieder alles ;-) "); window.location.href = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/chars/";} 

        }
    </script>

    <!-- Script for collapsible div for scene_text-->
    <script>var coll = document.getElementsByClassName("rpgui-button-collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
            });
        }
    </script>

{% else %}
<p>Hi! Wenn du spielen willst, log dich bitte erst ein. </p>
{% endif %} 

{% endblock %}
