{% extends 'base.html' %}
{% load static %}
{% block content %} 
{% if error %}
{{ error }}

<br />
<br />
{% endif %}
{% if user.is_authenticated %}



<!-- Start LobbyWebsocket Test -->
<!--<a href="#"  alt="Click me!"><img src={% static "img/fom.jpeg" %} width="50" id="lobby_submit"></a> <b id="lobby_test_element"></b>-->
<div id="lobby_websocket_container" align="center">
    <!--<form action="" method="" id="" class="form-inline">-->
        <div class="form-group">
            {% csrf_token %}

            <div id="lobby_test_element" >

            </div>
        </div>
    <!--</form>-->
</div>

<img src="../static/img/intro_images/{{intro_image}}" width="100%">
<br>
<br>
{{ scene_id|json_script:"socket_scene_id" }}
{{ char_id|json_script:"socket_char_id" }}
<script id="socket_scene_id" type="application/json">"socket_scene_id"</script>
<script>
var wmtc_loc = window.location; var wmtc_ws_prot = 'ws://'; if (wmtc_loc.protocol == 'https:') { wmtc_ws_prot = 'wss://' }
const socket_scene_id = JSON.parse(document.getElementById('socket_scene_id').textContent);
const socket_char_id = JSON.parse(document.getElementById('socket_char_id').textContent);

const lobby_socket = new WebSocket(wmtc_ws_prot + window.location.host + '/ws/lobby-'+ socket_scene_id+'/');

setInterval(function(){ lobby_socket.send(JSON.stringify({'lobby_msg': 'heartbeat', 'char_id': socket_char_id, }));}, 500);

lobby_socket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    console.log(data)
    document.querySelector('#lobby_test_element').innerHTML = (data.lobby_msg)
}

function take_the_slot(slot_id) {

    lobby_socket.send(JSON.stringify({
        'lobby_msg': 'take_the_slot',
        'slot_id': slot_id,
        'char_id': socket_char_id,
    }));   
}

function free_the_slot(slot_id) {

    lobby_socket.send(JSON.stringify({
        'lobby_msg': 'free_the_slot',
        'slot_id': slot_id,
        'char_id': socket_char_id,
    }));   
}


</script>
<!-- End LobbyWebsocket Test -->
<table class="table table-bordered table-striped">
<tr>
<td class="text-left">
<b>Aktuell im Chat:</b><p id="chat-userlist"></p>
</td>
<td>
<textarea class="form-control" id="chat-text" rows="10" disabled></textarea>
<div class="form-inline">
<input class="form-control" id="input" type="text" onkeypress="return send_msg(event)" > 
<input class="btn btn-primary" id="submit" type="button" value="Send">
</div>
</td>
</tr>
</table>



    {{ char_name|json_script:"user_username" }}
    {{ scene_id|json_script:"room-name" }}
    <script id="room-name" type="application/json">"worldmap"</script>

    <script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
            }));
            messageInputDom.value = '';
        };

function send_msg(e) {
    
    if (e.keyCode == 13) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
            }));
            messageInputDom.value = '';
    }
}

var textarea = document.getElementById('chat-text');
setInterval(function(){
    chatSocket.send(JSON.stringify({'ul': 'heatbeat', }));
    textarea.scrollTop = textarea.scrollHeight;
}, 500);


        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        var loc = window.location;
        var wsStart = 'ws://';
        if (loc.protocol == 'https:') {
            wsStart = 'wss://'
        }

        const chatSocket = new WebSocket(
            wsStart +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            if (data.ul) {
                document.querySelector('#chat-userlist').innerHTML = (data.ul)
            } else {
                document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n')
            };

        }
    </script>

{% else %}
<p>Hi! Wenn du spielen willst, log dich bitte erst ein. </p>
{% endif %} 

{% endblock %}
