{% extends 'base.html' %} 
{% block content %} 
{% if error %} 
<h1>{{ error }}</h1>

<br />
<br />
{% endif %}

<h1>Login...</h1>

{% if user.is_authenticated %}
<p>Du bist bereits angemeldet!</p>
{% else %}


<div class="rpgui-container framed-golden-2" style="position:relative;">
<form method="POST" action="{% url 'login' %}" >
  {% csrf_token %} 
  <p>Benutzername:   <input type="text" name="username" /> </p>  <br />
  <p>Passwort:  <input type="password" name="password" />  </p> <br />
  <br />
  <button type="submit" class="rpgui-button"><p>Login</p></button>

  <br />
</form>
</div>
{% endif %} 

{% endblock %}
