{% extends 'base.html' %} 
{% block content %} 
{% if error %} 
{{ error }}

<br />
<br />
{% endif %}

<h1>Login...</h1>


{% if user.is_authenticated %}
<p>Du bist bereits angemeldet!</p>
{% else %}


<form method="POST" action="{% url 'login' %}">
  {% csrf_token %} Benutzername:
  <br />
  <input type="text" name="username" />
  <br />
  Passwort:
  <br />
  <input type="password" name="password" />
  <br />
  <br />
  <input class="btn btn-primary" type="submit" value="Login" />
  <br />
</form>
{% endif %} 

{% endblock %}
