{% extends 'base.html' %} 
{% block content %} 
{% if error %} 
<h1>{{ error }}</h1>

<br />
<br />
{% endif %}

<div class="rpgui-container framed-golden-2" style="position:relative;">
<h1>Login...</h1>

    <form method="POST" action="{% url 'login' %}" >
      {% csrf_token %} 
      <p>Benutzername:   <input type="text" name="username" /> </p>  <br />
      <p>Passwort:  <input type="password" name="password" />  </p> <br />
      <br />
      <button type="submit" class="rpgui-button"><p>Login</p></button>

      <br />
    </form>

</div>

{% endblock %}
