{% extends 'base.html' %} 
{% block content %} 
{% if error %} 
<h1>{{ error }}</h1>

<br />
<br />
{% endif %}
<div class="rpgui-container framed-golden-2" style="position:relative;">
<h1>Signup...</h1>

<form method="POST" action="{% url 'signup' %}">
  {% csrf_token %} 
  <p>Benutzername:  <input type="text" name="username" /> </p> <br />
  <p>Passwort:  <input type="password" name="password1" /> </p>  <br />
  <p>Passwort wiederholen:   <input type="password" name="password2" /> </p>   <br />
  <br />
  <button type="submit" class="rpgui-button"><p>Signup</p></button>
  <br />
</form>

</div>
{% endblock %}
