{% extends 'base.html' %} 
{% block content %} 
{% if error %} 
{{ error }}

<br />
<br />
{% endif %}

<h1>Signup...</h1>

<form method="POST" action="{% url 'signup' %}">
  {% csrf_token %} 
  Benutzername:
  <br />
  <input type="text" name="username" />
  <br />
  Passwort:
  <br />
  <input type="password" name="password1" />
  <br />
  Passwort wiederholen:
  <br />
  <br />
  <input type="password" name="password2" />
  <br />
  <input type="submit" value="Signup" />
  <br />
</form>

{% endblock %}
