{% extends 'base.html' %}
{% block content %} 
{% if error %}
{{ error }}

<br />
<br />
{% endif %}


<div class="container text-center">
<table width="100%">
    <tr>
        <td>


{% if chars %}

<form action="{% url 'worldmap' %}" method="POST" id="interest-select" class="form-inline">
 <div class="form-group">
        {% csrf_token %}
        <br />        
        <h4>Wähle einen Charakter aus, um die Weltkarte zu betreten...</h4>


        <select id="char_id" name="char" class="form-control">
        <!--<option disabled selected> Charakter auswählen... </option>--> <!-- muss noch raus solange er ohne auswahl das form absendet -->
        {% for char in chars %}
            <option value={{char.id}}>{{char.name}}</option>
        {% endfor %}
        </select> 
        <br />
        <br />        
         <input class="btn btn-primary" type="submit" value="&#10145; Welt betreten! "/>
         <br />
         <br />                  
         </div>
  </form>

        {% else %}
        <h2>Du hast noch keine Charaktere...</h2>

        Lege <a href="../create_char/">hier</a> einen neuen an 👍
        {% endif %}
  



        </td>
    </tr>
</table>


</div>



{% endblock %}
