{% extends 'base.html' %}
{% block content %} 
{% if error %}
{{ error }}

<br />
<br />
{% endif %}
{% if user.is_authenticated %}

<table>
    <tr>
        <td style="vertical-align: top; ">

<div class="rpgui-container framed-golden-2" style="position:relative;">
            {% if game_scenes_list %}
            <div align="center">
                <div style="font-size: 8vw;">🗺️</div>

            <form action="{% url 'lobby_jumper' %}" method="POST" id="interest-select">
            <div class="form-group">
                    {% csrf_token %}

                    <select  size="5" id="scene_id" name="scene_id" class="rpgui-list">
                    {% for scene in game_scenes_list %} 
                    <!--<option value={{scene.id}} title="tres">{{scene.name}} ({{ scene.players_in_chat_counter }} von {{ scene.req_players }} Spieler)</option>-->
                    <option value={{scene.id}}>{{scene.name}} ({{ scene.players_in_chat_counter }}/{{ scene.waiting_players }}/{{ scene.req_players }})</option>
                    {% endfor %}
                    </select> 
                    <input type="hidden" id="char_id" name="char_id" value="{{ char_id }}">
                    
                    <button type="submit" class="rpgui-button"><p>Spiel auswählen und Lobby betreten</p></button>
                    <br />
                    <br />
                    <p><small><u>Zahlen in den Klammern:</u>(Spieler im Chat/belegte Plätze/benötigte Spieler)  </small></p>                    
                    </div>
            </form>
            </div>
            <br />


                    {% else %}
                    <p>Es gibt keine Szenen!</p>
                    {% endif %}
        </div>

    </td>
    <td style="vertical-align: top; padding-left:20px;">

<div class="rpgui-container framed-golden" style="position:relative;">
    <table class="table table-bordered table-striped">
    <tr>
    <td  style="vertical-align: top; ">
    <h1>Aktuell im Chat</h1>
    <hr class="golden">
    <p id="chat-userlist"></p>
    <hr class="golden">

    <textarea id="chat-text" rows="6" disabled></textarea>
    <br />
    <br />
    <input id="input" type="text" onkeypress="return send_msg(event)" > 
    <br />
    <br />
    <button type="submit" id="submit" class="rpgui-button"><p>Send</p></button>

    </td>
    </tr>
    </table>
</div>



</td>
</tr>
</table>


    {{ char_name|json_script:"user_username" }}
    <script id="room-name" type="application/json">"0"</script>

    <script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message_snd = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message_snd,
                'username': user_username,
            }));
            messageInputDom.value = '';
        };

function send_msg(e) {
    
    if (e.keyCode == 13) {
            const messageInputDom = document.querySelector('#input');
            const message_snd = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message_snd,
                'username': user_username,
            }));
            messageInputDom.value = '';
    }
}

var textarea = document.getElementById('chat-text');
setInterval(function(){
    chatSocket.send(JSON.stringify({'ul': 'heatbeat', 'char_id': {{char_id}} }));
    textarea.scrollTop = textarea.scrollHeight;
}, 500);


        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        var loc = window.location;
        var wsStart = 'ws://';
        if (loc.protocol == 'https:') {
            wsStart = 'wss://'
        }

        const chatSocket = new WebSocket(
            wsStart +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        var undundefined_error_counter = 0;
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data.ul) {
                if (typeof(data.ul) != "undefined")
                {
                    document.querySelector('#chat-userlist').innerHTML = (data.ul)                    
                }
                else { undundefined_error_counter = undundefined_error_counter + 1; if (undundefined_error_counter > 3) { window.location.reload(true); } }
            } else {
                if (typeof(data.username) != "undefined")
                {
                    if (typeof(data.message) != "undefined")
                    {
                        document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n')
                    }
                    else { undundefined_error_counter = undundefined_error_counter + 1; if (undundefined_error_counter > 3) { window.location.reload(true); } }
                    
                }
                else { undundefined_error_counter = undundefined_error_counter + 1; if (undundefined_error_counter > 3) { window.location.reload(true); } }
            };
        }
    </script>

{% else %}
<p>Hi! Wenn du spielen willst, log dich bitte erst ein. </p>
{% endif %} 

{% endblock %}
