{% extends 'base.html' %}
{% block content %} 
{% if error %}
{{ error }}

<br />
<br />
{% endif %}
{% if user.is_authenticated %}




            {% if game_scenes_list %}
            <div align="center">
                <div style="font-size: 8vw;">🗺️</div>

            <form action="{% url 'lobby_jumper' %}" method="POST" id="interest-select" class="form-inline">
            <div class="form-group">
                    {% csrf_token %}

                    <select  class="custom-select form-control" size="5" id="scene_id" name="scene_id" >
                    {% for scene in game_scenes_list %} 
                        <option value={{scene.id}}>{{scene.name}} (Spieler im Chat: {{ scene.players_in_chat_counter }}, davon spielbereit: {{ scene.waiting_players }}/{{ scene.req_players }})</option>
                    {% endfor %}
                    </select> 
                    <input type="hidden" id="char_id" name="char_id" value="{{ char_id }}"><br />
                    <br />
                    <input class="btn btn-primary" type="submit" value="Spiel auswählen und Lobby betreten..."/>
                    </div>
            </form>
            </div>
            <br />
            <br />            <br />

                    {% else %}
                    <p>Es gibt keine Szenen!</p>
                    {% endif %}
            




<table class="table table-bordered table-striped">
<tr>
<td class="text-left">
<b>Aktuell im Chat:</b><p id="chat-userlist"></p>
</td>
<td>
<textarea class="form-control" id="chat-text" rows="10" disabled></textarea>
<div class="form-inline">
<input class="form-control mb-2" id="input" type="text" onkeypress="return send_msg(event)" > 
<input class="btn btn-primary" id="submit" type="button" value="Send">
</div>
</td>
</tr>
</table>

    {{ char_name|json_script:"user_username" }}
    <script id="room-name" type="application/json">"0"</script>

    <script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message_snd = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message_snd,
                'username': user_username,
            }));
            messageInputDom.value = '';
        };

function send_msg(e) {
    
    if (e.keyCode == 13) {
            const messageInputDom = document.querySelector('#input');
            const message_snd = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message_snd,
                'username': user_username,
            }));
            messageInputDom.value = '';
    }
}

var textarea = document.getElementById('chat-text');
setInterval(function(){
    chatSocket.send(JSON.stringify({'ul': 'heatbeat', }));
    textarea.scrollTop = textarea.scrollHeight;
}, 500);


        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        var loc = window.location;
        var wsStart = 'ws://';
        if (loc.protocol == 'https:') {
            wsStart = 'wss://'
        }

        const chatSocket = new WebSocket(
            wsStart +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data.ul) {
                document.querySelector('#chat-userlist').innerHTML = (data.ul)
            } else {
                document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n')
            };
        }
    </script>

{% else %}
<p>Hi! Wenn du spielen willst, log dich bitte erst ein. </p>
{% endif %} 

{% endblock %}
